.code {
  padding: 10px;
  border-radius: 3px;
}

.theme() {
  .code {
    color: @code_color;
    background: @code_background;
  }
}

:global(html),
:global(html.theme-white) {
  @code_color: #333333;
  @code_background: #cccccc;

  .theme();
}

:global(html.theme-black) {
  @code_color: #ffffff;
  @code_background: #222222;

  .theme();
}