.footer {
  margin: 10px;
  padding: 10px 0px;
  font-size: 12px;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
}

@mixin theme($theme) {
  .footer {
    color: map-get($theme, "footer_color");
    border-color: map-get($theme, "border_color");
  }
}

:global(html),
:global(html.theme-white) {
  $theme: (
    footer_color: #666666,
    border_color: #dddddd,
  );

  @include theme($theme);
}

:global(html.theme-black) {
  $theme: (
    footer_color: #999999,
    border_color: #666666,
  );

  @include theme($theme);
}
